.idea
src/nrgten/vcontacts/*.so
src/nrgten/vcontacts/*.o
src/nrgten/.DS_Store
nrgten.egg-info
dist
build
src/nrgten/*.so
src/nrgten/__pycache__
*/__pycache__
src/nrgten/*.pdb
src/nrgten/*.df
*.tar.gz
